



<div class = "main-container" id="contz">
<div class = "content-container" > 

    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px"><a href="../">
        <div class = "menubutton"><br>browse</div></a>
    </td>
    <td width = "100px"><a href="../artists/search">
        <div class = "menubutton"><br>artist search</div></a>
    </td>
    <td width = "100px">
        <div class = "menubuttonpressed"><br>profile</div>
    </td>
    
    <td width = "*">
        
    
    </td><td width = "200px" align="right"><!--
    <a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
   </b></a>
    </td></tr></table>
    </div>


    
<br> &nbsp;<br>

<table><tr><td width="210px"  height="200px">
        
<%= image_tag("profile/tim.jpg", {:class=>"profile_picture", :id=>''}) %>
</td><td width = "*" height="200px" style="vertical-align:bottom">
    
<div class="h4">Tim L. Beaver</div>
<div class="titles"> Hi! I'm Tim the Beaver from MIT. I'm looking for ideas for my first tattoo.</div>


</td></tr><p><p><p>
<td></td><td><p><hr><p>

<!---<div class="titles2">Bio-data</div><p class="text"> [ Bio-data here ]</p>-->
<h2 style="color:black;">Preferred Style</h2>
<% if @category != nil %>
    <div class="titles2"><%= @category.name %> Tattoos</div>
    <p class="text"><%= @category.description %></p>
<% else %>
    <p>You haven't done the analysis yet. Go to the Browse page, select images, and hit analyze to find out.</p>
<% end %>
<!---<%= image_tag("shared/temp.jpg", {:class=>"profile_picture", :id=>''}) %>-->

<h3>Artists I liked</h3>
<% if @artists.size == 0 %>
    <p>You haven't liked any artists yet. Go to the Search page to find artists.</p>
<% end %>

</td>
</table>

</div></div>