<%= image_tag("profile/tim.jpg", {:class=>"profile_picture", :id=>''}) %>

<h1 class="">Tim Beaver</h1>

<h2>Message</h2>
<p> Hi! I'm Tim the Beaver from MIT. I'm looking for a cool tattoo.</p>

<h2>Preferred Style</h2>
<p>Nature Inspired</p>

<h2>Artist I Liked</h2>

<p>artists here ...</p>

<p>View my inkbox?</p>