


<script>
// set the size
		$(".hidden").css("width",$(window).width());
		var isopen = true;
		var out_x = $(window).width()-25;
		var in_x = 10;
		var pane = document.createElement('div');
		$("#sliding").css('width',$(document).width());
		$(pane).attr('id','background');
		var activator = document.createElement('div');
		$(activator).attr('id','activator');
		$(pane).appendTo('#sliding');
		$(activator).appendTo('#background');
		$(pane).css('left',in_x);
		$(".analyze").mousedown(function(e){
			e.preventDefault();
			if (isopen){
				$("#sliding").toggleClass("hidden");
				$(pane).animate({left:out_x},1000,'swing',function(){isopen = false;})
				//
				//$(pane).hide({direction:'right',easing:'swing',duration:1000,done:function(){
				//	isopen = false;
				//}})
				//$(pane).hide("slide", { direction: "right" }, 1000);
			} else {
				//$(pane).show(1000);
				//isopen = true;
				$("#sliding").toggleClass("hidden");
				$(pane).animate({left:in_x},1000,'swing',function(){isopen = true;})
			}
		});
		$(window).resize(function(){
			console.log('resize called '+$(window).width());
			$("#sliding").css('width',$(window).width());
			out_x = $(document).width()-25;
			if(isopen){
				$(pane).css('left',in_x);
			} else {
				$(pane).css('left',out_x);
			}
		});</script>




<div class = "main-container">
<div class = "content-container"> 
<!-- 5% margins on either side -->


    
    <div class = "lemenubar">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
    
    <tr height="50px">
    
    
    <td width = "100px">
        <div class = "menubuttonpressed"><br>browse</div>
    </td>
    <td width = "100px"><a href="../artists/search">
        <div class = "menubutton"><br>artist search</div></a>
    </td>
    <td width = "100px"><a href = "users/profile">
        <div class = "menubutton"><br>profile</div></a>
    </td>
    
    <td width = "*">
        
    
    
    
    
    
    
    </td><td width = "200px" align="right">
    <a href =""><b> MY INKBOX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </b></a>
    </td></tr></table>
    </div>
    
    
    
    <br>
    <table width="100%"><tr><td width = "*">
    <div class = "artwork-container">
    <!-- *% wide -->    
    
    <!-- CODE FOR IMAGES HERE -->
    <% Image.all.each do |image| %>
    <%= image_tag(image.path + image.name, {class: "medium", id: "id", style: "visibility: hidden;"}) %>
    <% end %>
    
    
    
    
    
    </div>
    </td><td width = "368px">
    <div class = "inkbox-container">
    <!-- fixed wide -->
    <div class = "topbox"></div>
    <div class = "inkbox">
    
    
    
    
    <!-- CODE FOR INKBOX HERE -->
    
    <br /><br />
    <center> 
    
    
    
    
    
    
     <div id = "background" class="sliding">
    sdfsdf
    test</div>
    
    
    
    
    
    <div class="analyze">

    <!-- ADD CODE HERE FOR ANALYZE PANE -->
     
    </div>
   
    
    <div class = "boxnotice">
    drag your favourite tattoos here<br>
    or trash bad ones in the bin
    </div>
    
    <br /><br />
    <%= image_tag("example/1asian1.jpeg", {:class=>"inInkBox", :id=>'3'}) %> 
    <%= image_tag("example/1asian1.jpeg", {:class=>"inInkBox", :id=>'3'}) %> 
    
    
     </center>
    <br /><br />
    
    <%= image_tag("shared/bin.png", {:class=>"dustbin", :id=>'dustbin'}) %>
    
    
    
    
    </div>
    </div>
    
    <div class"clear"></div>
    </td></tr></table>
</div>
</div>



