/*
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/ 

html {
	margin: 0;
	padding: 0;
	}
    
body {
	font-family: Arial, sans-serif;
	font-size: 12 pt;
	color: #FFFFFF;
	background-color: #111107;
    background-size: 100% 100%;
    min-height: 600px;
    background: url('login/loginBackground1.jpg') no-repeat scroll;
    margin: 0px;
	}
   

    
    
/*  H1 for main big texts  */   
h1 {
	font-family: sans-serif;
	font-size: 45pt;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}	 


h2{	
    font-family: sans-serif;
	font-size: 18pt;
	color: #FFFFFF;
    font-variant:small-caps;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	text-align: left;
}
h3 {
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #09C;
	text-align: left;
}

.h4 {
	font-family: sans-serif;
	font-size: 30pt;
	color: #999999;
	font-style: normal;
	font-weight: normal;
}
.titles {
	font-family: sans-serif;
	font-size: 15pt;
	color: #999999;
	font-style: normal;
	font-weight: normal;
}
.titles2 {
	font-family: sans-serif;
	font-size: 15pt;
	color: #333333;
	font-style: normal;
	font-weight: normal;
}
.text {
	font-family: sans-serif;
	font-size: 12pt;
	color: #999999;
	font-style: normal;
	font-weight: normal;
}

.subheading{	
    font-family: sans-serif;
	font-size: 18pt;
	color: #FFFFFF;
    font-variant:small-caps;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	text-align: left;
}


.loginCaption{
    font-family: sans-serif;
	font-size: 16pt;
	color: #dddddd;
	font-style: normal;
	font-weight: lighter;
	line-height: normal;
	text-align: left;
}

.loginSubs{
    font-family: sans-serif;
	font-size: 7pt;
	color: #ffffff;
	font-style: normal;
	font-weight: lighter;
	line-height: normal;
	text-align: right;
}


.row1 {
	background-color:#f0f0f0;
}

.row2 {
	background-color:#e0e0e0;
}


.text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #000;
	text-align: justify;
	word-spacing: normal;
}


.menubar {

-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;

-moz-box-shadow: 0px 0px 8px #b7b7b7;
-webkit-box-shadow: 0px 0px 8px #b7b7b7;
box-shadow: 0px 0px 8px #b7b7b7;


}



a:link { 
	font-weight: normal; 
	text-decoration: none; 
	color: #55a390;
	}

a:visited { 
	font-weight: normal; 
	text-decoration: none; 
	color: #55a390;
	}
a:hover, a:active {
	text-decoration: none;
	color: #f6a100;
	}
    
.logoclick{ 
    display: block;
    width: 255px;
	height: 27px;
	background: url('shared/logodouble.png') bottom;
	text-indent: -99999px;
    position: relative;
    top: 15px;
    
}
    
.logoclick:hover {
	background-position: 0 0;
}
    
.credits {
    width: 100%;
    height: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	color: #c0c0c0;
	text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    z-index: 5;
    

}
.creditsmain {
    width: 100%;
    height: 20px;
    vertical-align: bottom;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	color: #c0c0c0;
	text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    z-index: 999;
    background: #000000;
    
}

.menubuttonpressed{
    vertical-align: middle;
    text-align: center;
    height: 50px;
    background: #b6b6b2;
    margin: 0px 1px 1px 1px;
    font-weight: bold;
    color: #444444;
    
}

.menubutton{
    vertical-align: middle;
    text-align: center;
    height: 50px;
    background: #eaeaea;
    margin: 0px 1px 1px 1px;
    color: #777777;
    
}

.menubutton:hover {
    background: #55a390;
    color: #ffffff;
}
.menubuttonpressed:hover {
    background: #55a390;
    color: #ffffff;
}


.main-container{
    background: #ffffff;
    width: 100%;
    font-family: sans-serif;
	font-size: 10pt;
    color: black
}

.content-container{
    background: #ffffff;
    width: 90%;
    margin-left: auto ;
    margin-right: auto ;
    min-height:500px; 
}

.content-container2{
    width: 90%;
    margin-left: auto ;
    margin-right: auto ; 
}

.artwork-container{

}
.inkbox-container{
    
    
}
.topbox{
     background: url('shared/368top.png');
     width: 368px;
     height: 28px;
}
.inkbox{
    background: url('shared/bg.gif');
    padding: 10px 10px 10px 10px
}

.dustbin{
    position:relative;
    left: 280px;
}
.boxnotice{
    text-align: right;
    width: 281px;
    color: #999;
}

.clear { clear: both;}

.topbar{
    background: url('shared/titlebar.png') no-repeat scroll;
    height: 80px;
    vertical-align: bottom;
    width: 100%;
    text-align: left;
}

.logo{
    position: relative;
    left: 5%;
    top: 53px;
}

.loginLogo{
    align: left;
    }

hr {
	color:#B7B7B7;
	background-color:#B7B7B7;
	height:1px;	
	}

    
    
/* CSS For Forms */

input.button {
align: right;
position: relative;
left: 162px;
width:95px;
background:#55a390;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: 1p solid #fff;
opacity: 1;
}

input.button:hover {
background:#fff;
color:#55a390;
filter: alpha(opacity=100);
}

input.button:active {
background:#f6a100;
color:#fff;
}

label.inputLabel{
font-size: 9pt;

}

input    {
width:250px;
display:block;
border: 0px;
height: 25px;
background: #000;
padding: 1px 1px 1px 7px;
-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
zoom: 1;
filter: alpha(opacity=50);
opacity: 0.4;

    font-family: sans-serif;
	font-size: 12pt;
	color: #fff;
	font-style: normal;
	line-height: normal;
	text-align: left;

}



/* CSS for Menubar */
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
	}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	z-index:1;
	font: bold 12px arial	}

#sddm li a
{	display: block;
	margin: 0 2px 0 0;
	padding: 4px 10px;
	width: 75px;
	background: #BAED1F;
	color: #FFF;
	text-align: center;
	z-index:1;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	z-index:1;
	border: 1px solid #ff9900}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		z-index:1;
		font: 11px arial}

	#sddm div a:hover
	{	background: #49A3FF;
	z-index:1;
		color: #FFF}

	


