<div id="bottoms" align="center" class="creditsmain"> 
<a href=""> about</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="">help</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; copyright 2013 rocketscienceink
</div>