  <script>
  $(document).ready(function(){
	$('#login-trigger').click(function(){
		$(this).next('#login-content').slideToggle();
		$(this).toggleClass('active');					
		
		if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
			else $(this).find('span').html('&#x25BC;')
		})
    });
</script>



<div class = "topbar">
<div class = "content-container2"> 
<table height = "70px" width="100%"><tr><td>
<a href = "../">
<div class = "logoclick"> </div></a></td>

<td style="vertical-align:bottom" align="right" width ="*" > 

          <nav>
            <ul>

            	<% if session[:user_id] > 0 %>
            		<% @username = User.find(session[:user_id]).email %>
            	<% else %>
            	    <% @username = "Guest" %>
            	<% end %>
                

                <li id="login"><font size="2pt">Hello <B><%= @username %>!</font>
                	<% if session[:user_id] > 0 %>

                    <a id="login-trigger" href="#"><font size="2pt">&nbsp;&nbsp;
 
                         Log-out <span>&#x25BC;</span></font>
                    </a>
                    <div id="login-content" style="width:170px">
                        <form>
                            <fieldset id="actions">
                                <input type="button" onclick="window.location='/logout'" id="submit" value="    Confirm Log-out" style="width:150px; float:left; margin-right:10px">&nbsp;
                            </fieldset>
                        </form>
            		<% else %>
            	   		<span>Signup</span>
            		<% end %>

                    </div>                     
                </li>
               
            </ul>
        </nav> 

</b>

</td>
</tr></table>
</div>
</div>
</div>