<div class = "topbar">
<div class = "content-container2"> 
<table height = "70px" width="100%"><tr><td>
<a href = "">
<div class = "logoclick"> </div></a></td>

<td style="vertical-align:bottom" align="right" width ="*" > 


<font size="2pt"><b>
Hello <a href="users/profile">Tim Beaver</a>! 
</font></td>
</tr></table>
</div>
</div>
</div>